In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

np.set_printoptions(legacy='1.13')

In [4]:
df = pd.read_csv('Datasets/purchases.csv')
df.head()

,Creation Date,Purchase Date,Fiscal Year,LPA Number,Purchase Order Number,Requisition Number,Acquisition Type,Acquisition Method,Department Name,Supplier Code,...,Classification Codes,Normalized UNSPSC,Commodity Title,Class,Class Title,Family,Family Title,Segment,Segment Title,Location
0,09/05/2012,08/31/2012,2012-2013,NaN,4500149558,NaN,NON-IT Goods,Formal Competitive,"Corrections and Rehabilitation, Department of",48199.0,...,50405625,50405625.0,Jalapeno peppers,50405600.0,Peppers,50400000.0,Fresh vegetables,50000000.0,Food Beverage and Tobacco Products,"93706\n(36.675079, -119.865393)"
1,10/18/2012,10/18/2012,2012-2013,NaN,4500156192,NaN,NON-IT Goods,Informal Competitive,"Corrections and Rehabilitation, Department of",1327540.0,...,50301541,50301541.0,Ida red apples,50301500.0,Apples,50300000.0,Fresh fruits,50000000.0,Food Beverage and Tobacco Products,"91360\n(34.210392, -118.874313)"
2,10/17/2012,10/17/2012,2012-2013,NaN,4500156124,NaN,NON-IT Goods,Fair and Reasonable,Correctional Health Care Services,45803.0,...,55101506,55101506.0,Magazines,55101500.0,Printed publications,55100000.0,Printed media,55000000.0,Published Products,"95827\n(38.563097, -121.328511)"
3,10/30/2012,10/24/2012,2012-2013,NaN,S2556056,NaN,NON-IT Goods,Informal Competitive,"Parks & Recreation, Department of",1746707.0,...,10121505,10121505.0,Hay,10121500.0,Livestock feed,10120000.0,Animal feed,10000000.0,Live Plant and Animal Material and Accessories...,NaN
4,11/14/2012,11/14/2012,2012-2013,NaN,4500159228,NaN,NON-IT Goods,Informal Competitive,"Corrections and Rehabilitation, Department of",1065902.0,...,50201706,50201706.0,Coffee,50201700.0,Coffee and tea,50200000.0,Beverages,50000000.0,Food Beverage and Tobacco Products,"95696\n(38.43, -122.02)"

In [5]:
# Check the data types
df.dtypes

Creation Date               object
Purchase Date               object
Fiscal Year                 object
LPA Number                  object
Purchase Order Number       object
Requisition Number         float64
Acquisition Type            object
Acquisition Method          object
Department Name             object
Supplier Code              float64
Supplier Name               object
Supplier Qualifications     object
Supplier Zip Code           object
CalCard                     object
Item Name                   object
Item Description            object
Quantity                   float64
Unit Price                  object
Total Price                float64
Classification Codes        object
Normalized UNSPSC          float64
Commodity Title             object
Class                      float64
Class Title                 object
Family                     float64
Family Title                object
Segment                    float64
Segment Title               object
Location                    object
dtype: object

In [6]:
# Finding : What was the total price sum of the Purchase Order Number 018H2015? (14 rows in total)

Total = df[df['Purchase Order Number'] == '018H2015']['Total Price']
Total

40952    267.60
41005    135.52
41015    135.20
41076    112.64
41104     86.40
41179     48.80
41424    149.36
41581     71.60
41605     66.72
41669     54.64
41692     50.56
41823     22.88
41824     22.88
41855     20.24
Name: Total Price, dtype: float64

In [7]:
Total.sum()

1245.0400000000002

In [8]:
# Finding: What is the name and description of the purchased item with the Purchase Order Number 3176273? 
df[df['Purchase Order Number'] == '3176273'][['Item Name', 'Item Description']]

      Item Name Item Description
103  PC Desktop   HP Prodesk 600

In [9]:
# Finding: How many occasions (rows) of purchase data happened during the year 2013?
# Since the Purchase Date format is object and so I need to convert it to datetime format
df['Purchase Date'] = pd.to_datetime(df['Purchase Date'], errors='coerce')
df[df['Purchase Date'].dt.year == 2013].shape[0]

34024

In [10]:
# Finding: What are the 5 most common Departments in the data?
df['Department Name'].value_counts().head(5)

Department Name
Corrections and Rehabilitation, Department of    10891
Correctional Health Care Services                 6593
Water Resources, Department of                    4582
Forestry and Fire Protection, Department of       4526
State Hospitals, Department of                    4281
Name: count, dtype: int64

In [11]:
# Extra Task: What are 3 Departments using most money in the data?
df.groupby('Department Name')['Total Price'].sum().sort_values(ascending=False).head(3).map(int)
#de

Department Name
Health Care Services, Department of    21866849702
Public Health, Department of            2748240333
Social Services, Department of          1291192293
Name: Total Price, dtype: int64

In [12]:
# Sorting the data by Department Name
sorted_data  = df.sort_values(by='Department Name')
sorted_data["Department Name"]

6              Administrative Law, Office of
519            Administrative Law, Office of
20018          Administrative Law, Office of
31381    African American Museum, California
27820    African American Museum, California
                        ...
24826         Water Resources, Department of
49068         Water Resources, Department of
49069         Water Resources, Department of
49057         Water Resources, Department of
44469         Water Resources, Department of
Name: Department Name, Length: 62657, dtype: object

In [13]:
# Replacing the $-sign of the Unit Price column, and convert the value to a float
df['Unit Price'] = df['Unit Price'].str.replace('$', '').astype(float)
df['Unit Price']

0            0.60
1        12587.05
2          199.00
3            4.95
4            1.00
           ...
62652      100.50
62653      245.00
62654      245.00
62655    20475.00
62656     1181.44
Name: Unit Price, Length: 62657, dtype: float64

In [14]:
# How many purchases in the data were IT Goods and had the total price more than 50000 dollars?
df[(df['Acquisition Type'] == 'IT Goods') & (df['Total Price'] > 50000)].shape[0]

698

In [15]:
# How many of the purchases have anything to do with IT? (IT Goods, IT Services, IT Telecommunications)
df[(df['Acquisition Type'] == 'IT Goods') | (df['Acquisition Type'] == 'IT Services') | (df['Acquisition Type'] == 'IT Telecommunications')].shape[0]

9558

In [18]:
# Create a new DataFrame, where you have filtered out purchases that have a Total Price of 0 or less

Purchase_new = df[df['Total Price'] > 0]
Purchase_new

,Creation Date,Purchase Date,Fiscal Year,LPA Number,Purchase Order Number,Requisition Number,Acquisition Type,Acquisition Method,Department Name,Supplier Code,...,Classification Codes,Normalized UNSPSC,Commodity Title,Class,Class Title,Family,Family Title,Segment,Segment Title,Location
0,09/05/2012,2012-08-31,2012-2013,NaN,4500149558,NaN,NON-IT Goods,Formal Competitive,"Corrections and Rehabilitation, Department of",48199.0,...,50405625,50405625.0,Jalapeno peppers,50405600.0,Peppers,50400000.0,Fresh vegetables,50000000.0,Food Beverage and Tobacco Products,"93706\n(36.675079, -119.865393)"
1,10/18/2012,2012-10-18,2012-2013,NaN,4500156192,NaN,NON-IT Goods,Informal Competitive,"Corrections and Rehabilitation, Department of",1327540.0,...,50301541,50301541.0,Ida red apples,50301500.0,Apples,50300000.0,Fresh fruits,50000000.0,Food Beverage and Tobacco Products,"91360\n(34.210392, -118.874313)"
2,10/17/2012,2012-10-17,2012-2013,NaN,4500156124,NaN,NON-IT Goods,Fair and Reasonable,Correctional Health Care Services,45803.0,...,55101506,55101506.0,Magazines,55101500.0,Printed publications,55100000.0,Printed media,55000000.0,Published Products,"95827\n(38.563097, -121.328511)"
3,10/30/2012,2012-10-24,2012-2013,NaN,S2556056,NaN,NON-IT Goods,Informal Competitive,"Parks & Recreation, Department of",1746707.0,...,10121505,10121505.0,Hay,10121500.0,Livestock feed,10120000.0,Animal feed,10000000.0,Live Plant and Animal Material and Accessories...,NaN
4,11/14/2012,2012-11-14,2012-2013,NaN,4500159228,NaN,NON-IT Goods,Informal Competitive,"Corrections and Rehabilitation, Department of",1065902.0,...,50201706,50201706.0,Coffee,50201700.0,Coffee and tea,50200000.0,Beverages,50000000.0,Food Beverage and Tobacco Products,"95696\n(38.43, -122.02)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62652,08/22/2013,2013-08-23,2013-2014,1-10-75-60A,S3863002,NaN,NON-IT Goods,Statewide Contract,"Parks & Recreation, Department of",1087660.0,...,44103103,44103103.0,Printer or facsimile toner,44103100.0,Printer and facsimile and photocopier supplies,44100000.0,Office machines and their supplies and accesso...,44000000.0,Office Equipment and Accessories and Supplies,"95814\n(38.580427, -121.494396)"
62653,08/22/2013,2013-08-23,2013-2014,1-10-75-60A,S3863002,NaN,NON-IT Goods,Statewide Contract,"Parks & Recreation, Department of",1087660.0,...,44103103,44103103.0,Printer or facsimile toner,44103100.0,Printer and facsimile and photocopier supplies,44100000.0,Office machines and their supplies and accesso...,44000000.0,Office Equipment and Accessories and Supplies,"95814\n(38.580427, -121.494396)"
62654,08/22/2013,2013-08-23,2013-2014,1-10-75-60A,S3863002,NaN,NON-IT Goods,Statewide Contract,"Parks & Recreation, Department of",1087660.0,...,44103103,44103103.0,Printer or facsimile toner,44103100.0,Printer and facsimile and photocopier supplies,44100000.0,Office machines and their supplies and accesso...,44000000.0,Office Equipment and Accessories and Supplies,"95814\n(38.580427, -121.494396)"
62655,08/24/2013,2013-08-23,2013-2014,NaN,2U3H1109,NaN,NON-IT Services,Emergency Purchase,"Forestry and Fire Protection, Department of",1015235.0,...,76122402,76122402.0,Equipment usage fee,76122400.0,Refuse disposal and treatment fees,76120000.0,Refuse disposal and treatment,76000000.0,Industrial Cleaning Services,"95901\n(39.195356, -121.495425)"
62656,08/23/2013,2013-08-23,2013-2014,NaN,4500195481,NaN,NON-IT Goods,Informal Competitive,Correctional Health Care Services,1763613.0,...,12161501,12161501.0,Affinity labels,12161500.0,Indicators and Reagents,12160000.0,Additives,12000000.0,Chemicals including Bio Chemicals and Gas Mate...,NaN

: